@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.animate {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 1s, transform 1s;
}
.in-view {
    opacity: 1;
    transform: translateY(0);
}
header {
    width: 100%;
    padding: 3em;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;

}

main {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

section {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: black;
    padding: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 20em;

}

.search {
    position: relative;
    width: fit-content;
}

#search-city {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    padding: 0.2em 0.8em;
    padding-right: 1em;
    text-align: left;
    border-radius: 10px;
}

#search-city:focus {
    outline: none;
}

.previously-searched {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    overflow-x: scroll;
    scrollbar-color:  rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
.previously-searched::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
    
}
.previously-searched::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
}

.previously-searched>ul {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;

}

.previously-searched>ul>li {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    cursor: pointer;
    min-width: fit-content;
}

.found-cities {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
}

.found-cities>ul {
    font-size: 1.2rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.found-cities>ul>li {
    padding: 4px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: larger;
}

.main-content {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;


}
.home {
  grid-column: span 5;
  width: 100%;
  height: 100%;
  text-align: center;

 
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
  padding: 2em;
}
.home > h1 {
    font-size: clamp(1.4rem, 2vw, 3rem);
    font-weight: 900;
}
.content>ul {
    display: flex;
}

.content>ul>li {
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

li {
    list-style: none;
}

.content>img {
    object-fit: contain;
    width: 4em;
}

.temperature {
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.min-temp {
    color: rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content>h1 {
    padding: 10px;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.stats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
}

.grid-item {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;

}

.today {
    grid-column: span 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    align-items: center;
}

.today-stats {
    display: flex;
    gap: 7em;
}

.today-stats>div {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.today-stats>div>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about {
    max-width: 200px;
    text-overflow: hidden;
}

@media screen and (max-width: 1900px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .today {
        grid-column: span 3;
    }
    section {
        padding: 1em;
        width: fit-content;
    }
    .content > h1 {
        font-size: 1rem;
    }
}
@media screen and (max-height: 1200px) {
    .main-content {
        padding-top: 20em;
        padding-bottom: 12em;
    }
}
@media screen and (max-width: 1900px) {
    .today {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }
   
}

@media screen and (max-width: 1000px) {
    .today-stats {
        font-size: 1rem;
    }
    .today-stats {
        padding-top: 1em;
       flex-direction: column;
       gap: 10px;
    }
    .previously-searched {
        max-width: 80%;
    }
}
@media screen and (max-width: 930px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .today {
        grid-column: span 2;
    }
}

@media screen and (max-width: 640px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .today {
        grid-column: span 1;
    }
    .previously-searched {
        max-width: 90%;
    }
}